body {

    font-family: 'Open Sans';
}

.buttonBlock{    
    margin: 25px;
}

.title{
    text-align: center;
    font-size: 42px;
}

.buttonTitle {
    font-size: 36px;
    margin-right: 50px;
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}

.mainContainer {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display {
    margin-left: 25px;
    font-size: 30px;
    width: 300px;
    vertical-align: middle;
}

.status {
    margin-left: 25px;
    font-size: 30px;
    color: red;
    vertical-align: middle;
}